use flake .

if [[ -v venvDir ]]; then
  if [[ -d "${venvDir}" ]]; then
    printf "%s\n" "Skipping venv creation, '${venvDir}' already exists"
    source "${venvDir}/bin/activate"
  else
    printf "%s\n" "Creating new venv environment in path: '${venvDir}'"
    python -m venv "${venvDir}"
    source "${venvDir}/bin/activate"
  fi
fi

